<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head></head>

<section layout:fragment="conteudo">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h5 class="panel-title aw-titulo-panel">Instruções de uso</h5>
			</div>
		</div>
		<div class="panel-body">
			<p>Informe os dados da gramática e clique em Reconhecer.</p>
			
			<p>Após.</p>
		</div>
	</div>

</section>
</html>