<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; chartset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Reconhecedor</title>
	<link rel="shorcut icon" th:href="@{/images/logo.png}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	
	<header layout:include="Cabecalho"></header>
	
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>
	
	<footer layout:include="Rodape"></footer>
	
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/reconhecedor.js}"></script>
</body>
</html>